<h1>Create Appointment</h1>
<%= form_with(model: @appointment, local: true, class: "ui form" ) do |f| %>
  <div class="field">
    <%= f.label :purpose %>
    <%= f.text_field :purpose, required: true, placeholder: "Purpose" %>
     <%= f.label :date %>
    <%= f.text_field :date, required: true, placeholder: "Date" %>
    <%= f.label :time %>
    <%= f.text_field :time, required: true, placeholder: "Time" %>

  <%= f.submit nil, class: "ui blue button inverted" %>
  </div>
<% end %>