<h1>Dr. <%= @doctor.full_name.capitalize %>'s Appointments</h1>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor) %>
<hr/>

<h2>Patients</h2>
<ul>
    <% @appointments.each do |appointment| %>
        <li>
            <%= appointment.user.full_name %> - <%= appointment.time %> - <%= appointment.date %> - <%= appointment.purpose %>
            <br/>
            <%= link_to 'Remove', doctor_appointments_path(@doctor, :id), method: :delete %>
        </li>
    <% end %>
</ul>
